In [4]:
import sklearn
from sklearn.utils import shuffle
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np
from sklearn import linear_model, preprocessing

In [9]:
#IMPORTING THE DATA
car_data = pd.read_csv("car.data")

In [10]:
car_data.head(10)

  buying  maint door persons lug_boot safety  class
0  vhigh  vhigh    2       2    small    low  unacc
1  vhigh  vhigh    2       2    small    med  unacc
2  vhigh  vhigh    2       2    small   high  unacc
3  vhigh  vhigh    2       2      med    low  unacc
4  vhigh  vhigh    2       2      med    med  unacc
5  vhigh  vhigh    2       2      med   high  unacc
6  vhigh  vhigh    2       2      big    low  unacc
7  vhigh  vhigh    2       2      big    med  unacc
8  vhigh  vhigh    2       2      big   high  unacc
9  vhigh  vhigh    2       4    small    low  unacc

### Converting categorical variables into label codes

In [19]:
from sklearn.preprocessing import LabelEncoder
lbc = LabelEncoder()
car_data["buying"] = lbc.fit_transform(car_data["buying"])
car_data["maint"] = lbc.fit_transform(car_data["maint"])
car_data["door"] = lbc.fit_transform(car_data["door"])
car_data["persons"] = lbc.fit_transform(car_data["persons"])
car_data["lug_boot"] = lbc.fit_transform(car_data["lug_boot"])
car_data["safety"] = lbc.fit_transform(car_data["safety"])
car_data["class"] = lbc.fit_transform(car_data["class"])

In [20]:
car_data.head()

   buying  maint  door  persons  lug_boot  safety  class
0       3      3     0        0         2       1      2
1       3      3     0        0         2       2      2
2       3      3     0        0         2       0      2
3       3      3     0        0         1       1      2
4       3      3     0        0         1       2      2

In [24]:
car_data['class'].unique()

array([2, 0, 3, 1])

### Defining X and y

In [31]:
X = car_data.drop(['class'],axis =1).values
y = car_data['class'].values

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state =0)

In [75]:
from math import sqrt
from sklearn.metrics import mean_squared_error
y1 = lbc.fit_transform(car_data["class"])
rmse=[]
i=0
for k in range(20):
    k=k+1
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(X,y1)
#y_pred_knn=knn.predict(X)
    rmse.append(sqrt(mean_squared_error(y1,knn.predict(X))))
    print('K value: ',k ,'Rmse :',rmse[k-1])

K value:  1 Rmse : 0.0
K value:  2 Rmse : 0.5017331074496789
K value:  3 Rmse : 0.5464532103585
K value:  4 Rmse : 0.5808478796201801
K value:  5 Rmse : 0.4871021643541717
K value:  6 Rmse : 0.4947642536265799
K value:  7 Rmse : 0.40966336677090626
K value:  8 Rmse : 0.34860834438919813
K value:  9 Rmse : 0.23199018178458425
K value:  10 Rmse : 0.2602082499332666
K value:  11 Rmse : 0.2784713563300475
K value:  12 Rmse : 0.4046889523425963
K value:  13 Rmse : 0.44811849458060216
K value:  14 Rmse : 0.5368374469468802
K value:  15 Rmse : 0.5853140973807077
K value:  16 Rmse : 0.6382847385042254
K value:  17 Rmse : 0.6804138174397717
K value:  18 Rmse : 0.6752914322857344
K value:  19 Rmse : 0.7383352144445562
K value:  20 Rmse : 0.7530800950958866

In [78]:
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)

In [79]:
acc = knn.score(X_test,y_test)
print(acc)

0.9219653179190751

In [80]:
car_data.describe()

,buying,maint,door,persons,lug_boot,safety,class
count,1728.000000,1728.000000,1728.000000,1728.000000,1728.000000,1728.000000,1728.000000
mean,1.500000,1.500000,1.500000,1.000000,1.000000,1.000000,1.553241
std,1.118358,1.118358,1.118358,0.816733,0.816733,0.816733,0.875948
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.750000,0.750000,0.750000,0.000000,0.000000,0.000000,1.000000
50%,1.500000,1.500000,1.500000,1.000000,1.000000,1.000000,2.000000
75%,2.250000,2.250000,2.250000,2.000000,2.000000,2.000000,2.000000
max,3.000000,3.000000,3.000000,2.000000,2.000000,2.000000,3.000000